@charset "utf-8";

.Is9nKd { align-items: end; border-radius: 1rem; display: flex; height: 22.5rem; width: 40rem; }

@media (max-width: 45rem) {
  .Is9nKd { height: 100%; width: 100%; }
}

.uo6g6c { align-items: center; background-color: rgb(95, 99, 104); display: flex; justify-content: center; }

.jrJN5b { fill: rgb(255, 255, 255); padding-right: 0.5rem; }

.oIQmuc { align-items: center; color: rgb(255, 255, 255); display: flex; padding-bottom: 1.5rem; padding-left: 1.5rem; }

@keyframes progress { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1turn); }
}

.ruEB9b { color: rgb(255, 255, 255); display: block; height: 4rem; transition: 0.3s; }

.ruEB9b .VfPpkd-kBDsod { font-size: 4rem; }

.ruEB9b svg, .ruEB9b img { width: 4rem; height: 4rem; }

.MDCGCc { color: rgb(234, 67, 53); display: block; height: 4rem; }

.MDCGCc .VfPpkd-kBDsod { font-size: 4rem; }

.MDCGCc svg, .MDCGCc img { width: 4rem; height: 4rem; }

.Atvsge { bottom: 1rem; height: auto; left: 50%; position: absolute; transform: translateX(-50%); width: auto; }

.Atvsge[disabled] { animation: 2s linear 0s infinite normal none running progress; left: calc(50% - 2.625rem); vertical-align: middle; }

.sUT3ye { background-color: rgb(60, 64, 67); position: relative; }

.mWLnx { position: absolute; width: 40rem; }

.tJrjxd { height: 11.5625rem; left: 50%; max-width: 95%; min-height: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 37rem; }

.YXYP6e { bottom: calc(50% - 0.5rem); color: rgb(95, 99, 104); font-size: 12.5rem; left: calc(50% - 3.75rem); position: absolute; -webkit-text-stroke: 0.125rem rgb(255, 255, 255); z-index: 1; }

.Avxiuc { display: contents; }

.zONIcc { bottom: calc(50% - 1rem); color: rgb(95, 99, 104); font-size: 12.5rem; left: calc(50% - 3.5rem); position: absolute; -webkit-text-stroke: 0.125rem rgb(255, 255, 255); }

.D9MkNd { position: absolute; }

.dwXPo { background-color: rgb(60, 64, 67); border-radius: 1rem; height: 100%; overflow: hidden; width: 100%; }

.v4E14d { margin-bottom: 0px; margin-right: 1.5rem; }

@media (max-width: 45rem) {
  .enogQd.cC1eCc .VfPpkd-P5QLlc { max-width: calc(-2rem + 100vw); }
}

@media (min-width: 45rem) {
  .enogQd.cC1eCc .VfPpkd-P5QLlc { max-width: 43rem; }
}

.enogQd .VfPpkd-P5QLlc { width: 43rem; }

@media (max-width: 45rem) {
  .enogQd .VfPpkd-P5QLlc { height: 75%; }
}

.BUFHKc { display: flex; flex-direction: column; height: 100%; }

.FPzCB { margin-bottom: 0px; }

.JyNUL { display: flex; justify-content: end; }

.BnMmFd { display: flex; justify-content: space-between; }

@media (max-width: 23.75rem) {
  .BnMmFd { display: grid; justify-content: center; }
}

.qSxmNb { padding-top: 1rem; }

.aUq6wc { outline: none; text-decoration: underline; }

.n6eM2c { color: rgb(217, 48, 37); }

sentinel { }