@charset "utf-8";

.mjbEJf.ija6rd .W0JUmd, .mjbEJf.o1vBp .krA9wc { padding: 1.5rem; }

.mjbEJf.cC1eCc:not(.ija6rd) .VfPpkd-cnG4Wd { padding: 1.5rem; }

.WLKmQe { margin-bottom: 1rem; }

.EKpHKc { height: 1.5rem; margin-right: 0.5rem; width: 1.5rem; }

.SHkk9d { justify-content: flex-end; }

.SHkk9d > div { margin-left: 1rem; }

sentinel { }