@charset "utf-8";

.gb_2d { font: 13px / 27px Roboto, Arial, sans-serif; z-index: 986; }

@-webkit-keyframes gb__a { 
  0% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes gb__a { 
  0% { opacity: 0; }
  50% { opacity: 1; }
}

a.gb_Qa { border: none; color: rgb(66, 133, 244); cursor: default; font-weight: bold; outline: none; position: relative; text-align: center; text-decoration: none; text-transform: uppercase; white-space: nowrap; user-select: none; }

a.gb_Qa:hover::after, a.gb_Qa:focus::after { background-color: rgba(0, 0, 0, 0.12); content: ""; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }

a.gb_Qa:hover, a.gb_Qa:focus { text-decoration: none; }

a.gb_Qa:active { background-color: rgba(153, 153, 153, 0.4); text-decoration: none; }

a.gb_Ra { background-color: rgb(66, 133, 244); color: rgb(255, 255, 255); }

a.gb_Ra:active { background-color: rgb(0, 67, 178); }

.gb_Sa { box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px; }

.gb_Qa, .gb_Ra, .gb_Ta, .gb_Ua { display: inline-block; line-height: 28px; padding: 0px 12px; border-radius: 2px; }

.gb_Ta { background: rgb(248, 248, 248); border: 1px solid rgb(198, 198, 198); }

.gb_Ua { background: rgb(248, 248, 248); }

.gb_Ta, #gb a.gb_Ta.gb_Ta, .gb_Ua { color: rgb(102, 102, 102); cursor: default; text-decoration: none; }

#gb a.gb_Ua { cursor: default; text-decoration: none; }

.gb_Ua { border: 1px solid rgb(66, 133, 244); font-weight: bold; outline: none; background: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234)); }

#gb a.gb_Ua { color: rgb(255, 255, 255); }

.gb_Ua:hover { box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px; }

.gb_Ua:active { box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px inset; background: -webkit-linear-gradient(top, rgb(60, 122, 228), rgb(63, 118, 211)); }

#gb .gb_Va { background: rgb(255, 255, 255); border: 1px solid rgb(218, 220, 224); color: rgb(26, 115, 232); display: inline-block; text-decoration: none; }

#gb .gb_Va:hover { background: rgb(248, 251, 255); border-color: rgb(218, 220, 224); color: rgb(23, 78, 166); }

#gb .gb_Va:focus { background: rgb(244, 248, 255); color: rgb(23, 78, 166); outline: rgb(23, 78, 166) solid 1px; }

#gb .gb_Va:active, #gb .gb_Va:focus:active { background: rgb(236, 243, 254); color: rgb(23, 78, 166); }

#gb .gb_Va.gb_H { background: transparent; border: 1px solid rgb(95, 99, 104); color: rgb(138, 180, 248); text-decoration: none; }

#gb .gb_Va.gb_H:hover { background: rgba(255, 255, 255, 0.04); color: rgb(232, 234, 237); }

#gb .gb_Va.gb_H:focus { background: rgba(232, 234, 237, 0.12); color: rgb(232, 234, 237); outline: rgb(232, 234, 237) solid 1px; }

#gb .gb_Va.gb_H:active, #gb .gb_Va.gb_H:focus:active { background: rgba(232, 234, 237, 0.1); color: rgb(232, 234, 237); }

.gb_cd { display: inline-block; vertical-align: middle; }

.gb_Ne .gb_Q { bottom: -3px; right: -5px; }

.gb_D { position: relative; }

.gb_B { display: inline-block; outline: none; vertical-align: middle; border-radius: 2px; box-sizing: border-box; height: 40px; width: 40px; cursor: pointer; text-decoration: none; }

#gb#gb a.gb_B { cursor: pointer; text-decoration: none; }

.gb_B, a.gb_B { color: rgb(0, 0, 0); }

.gb_dd { border-color: transparent transparent rgb(255, 255, 255); border-style: dashed dashed solid; border-width: 0px 8.5px 8.5px; display: none; position: absolute; left: 11.5px; top: 33px; z-index: 1; height: 0px; width: 0px; animation: 0.2s ease 0s 1 normal none running gb__a; }

.gb_ed { border-color: transparent transparent rgba(0, 0, 0, 0.2); border-style: dashed dashed solid; border-width: 0px 8.5px 8.5px; display: none; position: absolute; left: 11.5px; z-index: 1; height: 0px; width: 0px; animation: 0.2s ease 0s 1 normal none running gb__a; top: 32px; }

.gb_la { background: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.2); color: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px; display: none; outline: none; overflow: hidden; position: absolute; right: 8px; top: 62px; animation: 0.2s ease 0s 1 normal none running gb__a; border-radius: 2px; user-select: text; }

.gb_cd.gb_Tc .gb_dd, .gb_cd.gb_Tc .gb_ed, .gb_cd.gb_Tc .gb_la, .gb_Tc.gb_la { display: block; }

.gb_cd.gb_Tc.gb_fd .gb_dd, .gb_cd.gb_Tc.gb_fd .gb_ed { display: none; }

.gb_Oe { position: absolute; right: 8px; top: 62px; z-index: -1; }

.gb_gd .gb_dd, .gb_gd .gb_ed, .gb_gd .gb_la { margin-top: -10px; }

.gb_cd:first-child, #gbsfw:first-child + .gb_cd { padding-left: 4px; }

.gb_Fa.gb_Pe .gb_cd:first-child { padding-left: 0px; }

.gb_Qe { position: relative; }

.gb_2c .gb_Qe, .gb_Jd .gb_Qe { float: right; }

.gb_B { padding: 8px; cursor: pointer; }

.gb_B::after { content: ""; position: absolute; inset: -4px; }

.gb_Fa .gb_hd:not(.gb_Qa):focus img { background-color: rgba(0, 0, 0, 0.2); outline: none; border-radius: 50%; }

.gb_id button svg, .gb_B { border-radius: 50%; }

.gb_id button:focus:not(:focus-visible) svg, .gb_id button:hover svg, .gb_id button:active svg, .gb_B:focus:not(:focus-visible), .gb_B:hover, .gb_B:active, .gb_B[aria-expanded="true"] { outline: none; }

.gb_Lc .gb_id.gb_jd button:focus-visible svg, .gb_id button:focus-visible svg, .gb_B:focus-visible { outline: rgb(32, 33, 36) solid 1px; }

.gb_Lc .gb_id button:focus-visible svg, .gb_Lc .gb_B:focus-visible { outline: rgb(241, 243, 244) solid 1px; }

@media (forced-colors: active) {
  .gb_Lc .gb_id.gb_jd button:focus-visible svg, .gb_id button:focus-visible svg, .gb_Lc .gb_id button:focus-visible svg { outline: currentcolor solid 1px; }
}

.gb_Lc .gb_id.gb_jd button:focus svg, .gb_Lc .gb_id.gb_jd button:focus:hover svg, .gb_id button:focus svg, .gb_id button:focus:hover svg, .gb_B:focus, .gb_B:focus:hover { background-color: rgba(60, 64, 67, 0.1); }

.gb_Lc .gb_id.gb_jd button:active svg, .gb_id button:active svg, .gb_B:active { background-color: rgba(60, 64, 67, 0.12); }

.gb_Lc .gb_id.gb_jd button:hover svg, .gb_id button:hover svg, .gb_B:hover { background-color: rgba(60, 64, 67, 0.08); }

.gb_Wa .gb_B.gb_Za:hover { background-color: transparent; }

.gb_B[aria-expanded="true"], .gb_B:hover[aria-expanded="true"] { background-color: rgba(95, 99, 104, 0.24); }

.gb_B[aria-expanded="true"] .gb_F { fill: rgb(95, 99, 104); opacity: 1; }

.gb_Lc .gb_id button:hover svg, .gb_Lc .gb_B:hover { background-color: rgba(232, 234, 237, 0.08); }

.gb_Lc .gb_id button:focus svg, .gb_Lc .gb_id button:focus:hover svg, .gb_Lc .gb_B:focus, .gb_Lc .gb_B:focus:hover { background-color: rgba(232, 234, 237, 0.1); }

.gb_Lc .gb_id button:active svg, .gb_Lc .gb_B:active { background-color: rgba(232, 234, 237, 0.12); }

.gb_Lc .gb_B[aria-expanded="true"], .gb_Lc .gb_B:hover[aria-expanded="true"] { background-color: rgba(255, 255, 255, 0.12); }

.gb_Lc .gb_B[aria-expanded="true"] .gb_F { fill: rgb(255, 255, 255); opacity: 1; }

.gb_cd { padding: 4px; }

.gb_Fa.gb_Pe .gb_cd { padding: 4px 2px; }

.gb_Fa.gb_Pe .gb_z.gb_cd { padding-left: 6px; }

.gb_la { z-index: 991; line-height: normal; }

.gb_la.gb_kd { left: 0px; right: auto; }

@media (max-width: 350px) {
  .gb_la.gb_kd { left: 0px; }
}

.gb_Re .gb_la { top: 56px; }

.gb_R { display: none !important; }

.gb_nd { visibility: hidden; }

.gb_J .gb_B, .gb_ka .gb_J .gb_B { background-position: -64px -29px; }

.gb_1 .gb_J .gb_B { background-position: -29px -29px; opacity: 1; }

.gb_J .gb_B, .gb_J .gb_B:hover, .gb_J .gb_B:focus { opacity: 1; }

.gb_L { display: none; }

@media screen and (max-width: 319px) {
  .gb_ld:not(.gb_md) .gb_J { display: none; visibility: hidden; }
}

.gb_Q { display: none; }

.gb_9c { font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 400; letter-spacing: 0.25px; line-height: 48px; margin-bottom: 2px; opacity: 1; overflow: hidden; padding-left: 16px; position: relative; text-overflow: ellipsis; vertical-align: middle; top: 2px; white-space: nowrap; -webkit-box-flex: 1; flex: 1 1 auto; }

.gb_9c.gb_ad { color: rgb(60, 64, 67); }

.gb_Fa.gb_cc .gb_9c { margin-bottom: 0px; }

.gb_sd.gb_ud .gb_9c { padding-left: 4px; }

.gb_Fa.gb_cc .gb_vd { position: relative; top: -2px; }

.gb_bd { display: none; }

.gb_Fa { color: black; min-width: 160px; position: relative; transition: box-shadow 250ms; }

.gb_Fa.gb_Sc { min-width: 120px; }

.gb_Fa.gb_wd .gb_xd { display: none; }

.gb_Fa.gb_wd .gb_ld { height: 56px; }

header.gb_Fa { display: block; }

.gb_Fa svg { fill: currentcolor; }

.gb_Dd { position: fixed; top: 0px; width: 100%; }

.gb_yd { box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px; }

.gb_Ed { height: 64px; }

.gb_ld { box-sizing: border-box; position: relative; width: 100%; display: flex; justify-content: space-between; min-width: min-content; }

.gb_Fa:not(.gb_cc) .gb_ld { padding: 8px; }

.gb_Fa.gb_Fd .gb_ld { -webkit-box-flex: 1; flex: 1 0 auto; }

.gb_Fa .gb_ld.gb_md.gb_Hd { min-width: 0px; }

.gb_Fa.gb_cc .gb_ld { padding: 4px 4px 4px 8px; min-width: 0px; }

.gb_xd { height: 48px; vertical-align: middle; white-space: nowrap; -webkit-box-align: center; align-items: center; display: flex; user-select: none; }

.gb_Ad > .gb_xd { display: table-cell; width: 100%; }

.gb_sd { padding-right: 30px; box-sizing: border-box; -webkit-box-flex: 1; flex: 1 0 auto; }

.gb_Fa.gb_cc .gb_sd { padding-right: 14px; }

.gb_Bd { -webkit-box-flex: 1; flex: 1 1 100%; }

.gb_Bd > :only-child { display: inline-block; }

.gb_Cd.gb_3c { padding-left: 4px; }

.gb_Cd.gb_Id, .gb_Fa.gb_Fd .gb_Cd, .gb_Fa.gb_cc:not(.gb_Jd) .gb_Cd { padding-left: 0px; }

.gb_Fa.gb_cc .gb_Cd.gb_Id { padding-right: 0px; }

.gb_Fa.gb_cc .gb_Cd.gb_Id .gb_Wa { margin-left: 10px; }

.gb_3c { display: inline; }

.gb_Fa.gb_Wc .gb_Cd.gb_Kd, .gb_Fa.gb_Jd .gb_Cd.gb_Kd { padding-left: 2px; }

.gb_9c { display: inline-block; }

.gb_Cd { box-sizing: border-box; height: 48px; line-height: normal; padding: 0px 4px 0px 30px; -webkit-box-flex: 0; flex: 0 0 auto; justify-content: flex-end; }

.gb_Jd { height: 48px; }

.gb_Fa.gb_Jd { min-width: auto; }

.gb_Jd .gb_Cd { float: right; padding-left: 32px; }

.gb_Jd .gb_Cd.gb_Ld { padding-left: 0px; }

.gb_Md { font-size: 14px; max-width: 200px; overflow: hidden; padding: 0px 12px; text-overflow: ellipsis; white-space: nowrap; user-select: text; }

.gb_pd { transition: background-color 0.4s; }

.gb_Nd { color: black; }

.gb_Lc { color: white; }

.gb_Fa a, .gb_Pc a { color: inherit; }

.gb_ba { color: rgba(0, 0, 0, 0.87); }

.gb_Fa svg, .gb_Pc svg, .gb_sd .gb_td, .gb_2c .gb_td { color: rgb(95, 99, 104); opacity: 1; }

.gb_Lc svg, .gb_Pc.gb_Uc svg, .gb_Lc .gb_sd .gb_td, .gb_Lc .gb_sd .gb_Kc, .gb_Lc .gb_sd .gb_vd, .gb_Pc.gb_Uc .gb_td { color: rgba(255, 255, 255, 0.87); }

.gb_Lc .gb_sd .gb_Od:not(.gb_Pd) { opacity: 0.87; }

.gb_ad { color: inherit; opacity: 1; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; }

.gb_Lc .gb_ad, .gb_Nd .gb_ad { opacity: 1; }

.gb_Qd { position: relative; }

.gb_M { font-family: arial, sans-serif; line-height: normal; padding-right: 15px; }

a.gb_X, span.gb_X { color: rgba(0, 0, 0, 0.87); text-decoration: none; }

.gb_Lc a.gb_X, .gb_Lc span.gb_X { color: white; }

a.gb_X:focus { outline-offset: 2px; }

a.gb_X:hover { text-decoration: underline; }

.gb_Z { display: inline-block; padding-left: 15px; }

.gb_Z .gb_X { display: inline-block; line-height: 24px; vertical-align: middle; }

.gb_qd { font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif; font-weight: 500; font-size: 14px; letter-spacing: 0.25px; line-height: 16px; margin-left: 10px; margin-right: 8px; min-width: 96px; padding: 9px 23px; text-align: center; vertical-align: middle; border-radius: 4px; box-sizing: border-box; }

.gb_Fa.gb_Jd .gb_qd { margin-left: 8px; }

#gb a.gb_Ua.gb_qd { cursor: pointer; }

.gb_Ua.gb_qd:hover { background: rgb(27, 102, 201); box-shadow: rgba(66, 64, 67, 0.15) 0px 1px 3px 1px, rgba(60, 64, 67, 0.3) 0px 1px 2px 0px; }

.gb_Ua.gb_qd:focus, .gb_Ua.gb_qd:hover:focus { background: rgb(28, 95, 186); box-shadow: rgba(66, 64, 67, 0.15) 0px 1px 3px 1px, rgba(60, 64, 67, 0.3) 0px 1px 2px 0px; }

.gb_Ua.gb_qd:active { background: rgb(27, 99, 193); box-shadow: rgba(66, 64, 67, 0.15) 0px 1px 3px 1px, rgba(60, 64, 67, 0.3) 0px 1px 2px 0px; }

.gb_qd { background: rgb(26, 115, 232); border: 1px solid transparent; }

.gb_Fa.gb_cc .gb_qd { padding: 9px 15px; min-width: 80px; }

.gb_Rd { text-align: left; }

#gb .gb_Lc a.gb_qd:not(.gb_H), #gb.gb_Lc a.gb_qd { background: rgb(255, 255, 255); border-color: rgb(218, 220, 224); box-shadow: none; color: rgb(26, 115, 232); }

#gb a.gb_Ua.gb_H.gb_qd { background: rgb(138, 180, 248); border: 1px solid transparent; box-shadow: none; color: rgb(32, 33, 36); }

#gb .gb_Lc a.gb_qd:hover:not(.gb_H), #gb.gb_Lc a.gb_qd:hover { background: rgb(248, 251, 255); border-color: rgb(204, 224, 252); }

#gb a.gb_Ua.gb_H.gb_qd:hover { background: rgb(147, 186, 249); border-color: transparent; box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 1px, rgba(0, 0, 0, 0.3) 0px 1px 2px; }

#gb .gb_Lc a.gb_qd:focus:not(.gb_H), #gb .gb_Lc a.gb_qd:focus:hover:not(.gb_H), #gb.gb_Lc a.gb_qd:focus:not(.gb_H), #gb.gb_Lc a.gb_qd:focus:hover:not(.gb_H) { background: rgb(244, 248, 255); outline: rgb(201, 221, 252) solid 1px; }

#gb a.gb_Ua.gb_H.gb_qd:focus, #gb a.gb_Ua.gb_H.gb_qd:focus:hover { background: rgb(166, 198, 250); border-color: transparent; box-shadow: none; }

#gb .gb_Lc a.gb_qd:active:not(.gb_H), #gb.gb_Lc a.gb_qd:active { background: rgb(236, 243, 254); }

#gb a.gb_Ua.gb_H.gb_qd:active { background: rgb(161, 195, 249); box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; }

.gb_K { display: none; }

@media screen and (max-width: 319px) {
  .gb_ld .gb_J { display: none; visibility: hidden; }
}

.gb_Wa { background-color: rgba(255, 255, 255, 0.88); border: 1px solid rgb(218, 220, 224); box-sizing: border-box; cursor: pointer; display: inline-block; max-height: 48px; overflow: hidden; outline: none; padding: 0px; vertical-align: middle; width: 134px; border-radius: 8px; }

.gb_Wa.gb_H { background-color: transparent; border: 1px solid rgb(95, 99, 104); }

.gb_3a { display: inherit; }

.gb_Wa.gb_H .gb_3a { background: rgb(255, 255, 255); border-radius: 4px; display: inline-block; left: 8px; margin-right: 5px; position: relative; padding: 3px; top: -1px; }

.gb_Wa:hover { border: 1px solid rgb(210, 227, 252); background-color: rgba(248, 250, 255, 0.88); }

.gb_Wa.gb_H:hover { background-color: rgba(241, 243, 244, 0.04); border: 1px solid rgb(95, 99, 104); }

.gb_Wa:focus-visible, .gb_Wa:focus { background-color: rgb(255, 255, 255); outline: rgb(32, 33, 36) solid 1px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; }

.gb_Wa.gb_H:focus-visible, .gb_Wa.gb_H:focus { background-color: rgba(241, 243, 244, 0.12); outline: rgb(241, 243, 244) solid 1px; box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 1px, rgba(0, 0, 0, 0.3) 0px 1px 2px 0px; }

.gb_Wa.gb_H:active, .gb_Wa.gb_Tc.gb_H:focus { background-color: rgba(241, 243, 244, 0.1); border: 1px solid rgb(95, 99, 104); }

.gb_4a { display: inline-block; padding-bottom: 2px; padding-left: 7px; padding-top: 2px; text-align: center; vertical-align: middle; line-height: 32px; width: 78px; }

.gb_Wa.gb_H .gb_4a { line-height: 26px; margin-left: 0px; padding-bottom: 0px; padding-left: 0px; padding-top: 0px; width: 72px; }

.gb_4a.gb_5a { background-color: rgb(241, 243, 244); border-radius: 4px; margin-left: 8px; padding-left: 0px; line-height: 30px; }

.gb_4a.gb_5a .gb_Ic { vertical-align: middle; }

.gb_Fa:not(.gb_cc) .gb_Wa { margin-left: 10px; margin-right: 4px; }

.gb_Sd { max-height: 32px; width: 78px; }

.gb_Wa.gb_H .gb_Sd { max-height: 26px; width: 72px; }

.gb_P { background-size: 32px 32px; border: 0px; border-radius: 50%; display: block; margin: 0px; position: relative; height: 32px; width: 32px; z-index: 0; }

.gb_eb { background-color: rgb(232, 240, 254); border: 1px solid rgba(32, 33, 36, 0.08); position: relative; }

.gb_eb.gb_P { height: 30px; width: 30px; }

.gb_eb.gb_P:hover, .gb_eb.gb_P:active { box-shadow: none; }

.gb_fb { background: rgb(255, 255, 255); border: none; border-radius: 50%; bottom: 2px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; height: 14px; margin: 2px; position: absolute; right: 0px; width: 14px; }

.gb_wc { color: rgb(31, 113, 231); font: 400 22px / 32px "Google Sans", Roboto, Helvetica, Arial, sans-serif; text-align: center; text-transform: uppercase; }

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-device-pixel-ratio:1.25) {
  .gb_P::before, .gb_gb::before { display: inline-block; transform: scale(0.5); transform-origin: left 0px; }
  .gb_3 .gb_gb::before { }
}

.gb_P:hover, .gb_P:focus { box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px; }

.gb_P:active { box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px inset; }

.gb_P:active::after { background: rgba(0, 0, 0, 0.1); border-radius: 50%; content: ""; display: block; height: 100%; }

.gb_hb { cursor: pointer; line-height: 40px; min-width: 30px; opacity: 0.75; overflow: hidden; vertical-align: middle; text-overflow: ellipsis; }

.gb_B.gb_hb { width: auto; }

.gb_hb:hover, .gb_hb:focus { opacity: 0.85; }

.gb_gd .gb_hb, .gb_gd .gb_Ud { line-height: 26px; }

#gb#gb.gb_gd a.gb_hb, .gb_gd .gb_Ud { font-size: 11px; height: auto; }

.gb_ib { border-top: 4px solid rgb(0, 0, 0); border-left: 4px dashed transparent; border-right: 4px dashed transparent; display: inline-block; margin-left: 6px; opacity: 0.75; vertical-align: middle; }

.gb_Za:hover .gb_ib { opacity: 0.85; }

.gb_Wa > .gb_z { padding: 3px 3px 3px 4px; }

.gb_Vd.gb_nd { color: rgb(255, 255, 255); }

.gb_1 .gb_hb, .gb_1 .gb_ib { opacity: 1; }

#gb#gb.gb_1.gb_1 a.gb_hb, #gb#gb .gb_1.gb_1 a.gb_hb { color: rgb(255, 255, 255); }

.gb_1.gb_1 .gb_ib { border-top-color: rgb(255, 255, 255); opacity: 1; }

.gb_ka .gb_P:hover, .gb_1 .gb_P:hover, .gb_ka .gb_P:focus, .gb_1 .gb_P:focus { box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 2px; }

.gb_Wd .gb_z, .gb_Xd .gb_z { position: absolute; right: 1px; }

.gb_z.gb_0, .gb_jb.gb_0, .gb_Za.gb_0 { -webkit-box-flex: 0; flex: 0 1 auto; }

.gb_Zd.gb_0d .gb_hb { width: 30px !important; }

.gb_1d { height: 40px; position: absolute; right: -5px; top: -5px; width: 40px; }

.gb_2d .gb_1d, .gb_3d .gb_1d { right: 0px; top: 0px; }

.gb_z .gb_B { padding: 4px; }

.gb_S { display: none; }

sentinel { }