@charset "utf-8";

.EbDdLe { font-style: italic; margin-top: 0.5rem; }

@media (max-width: 37rem) {
  .wrkhkd.cC1eCc .VfPpkd-P5QLlc { max-width: calc(-2rem + 100vw); }
}

@media (min-width: 37rem) {
  .wrkhkd.cC1eCc .VfPpkd-P5QLlc { max-width: 35rem; }
}

.i1fNZc.iWO5td { z-index: 1193; }

.be6XEc { margin-top: 1rem; }

.Ae97qf { border: 0px; height: 100%; width: 100%; }

.yb5d6c { background: white; border-radius: 8px; box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 16px; color: black; height: 80%; outline: transparent solid 1px; overflow: hidden; padding: 0px; position: fixed; width: 80%; z-index: 10001; }

@media (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait), (device-width: 1536px) and (device-height: 2048px) and (orientation: portrait), (device-width: 768px) and (device-height: 1024px) and (orientation: portrait), (device-width: 800px) and (device-height: 1280px) and (orientation: portrait), (device-width: 834px) and (device-height: 1112px) and (orientation: portrait) {
  .yb5d6c { height: 45%; width: 90%; }
}

@media (max-device-height: 480px), (max-device-width: 640px) {
  .yb5d6c { border-radius: 0px; height: 100%; width: 100%; }
}

.yb5d6c-xJ5Hnf { background: rgb(102, 102, 102); left: 0px; position: fixed; top: 0px; z-index: 10000; }

.yb5d6c-bN97Pc { height: 100%; width: 100%; }

.yb5d6c-r4nke, .yb5d6c-r4nke-TvD9Pc { display: none; }

.BdlyXe { height: 100%; width: 100%; border-radius: 0px; transition: 0.3s; }

sentinel { }